{% extends "base.html" %}

{% block title %}
  Шахматный Турнир
{% endblock %}

{% block content %}

  <div class="col d-flex justify-content-center">

    {% for cat_elem in cat %}
      <div class="col p-4 d-flex flex-column position-static" style="background-color: rgba(55	58	54);" >
        <div class="text-center">
          <h2 class="headline4">{{cat_elem.title}}</h2>
            <p class="text-center">
              <a style="text-decoration: none;" href="{{cat_elem.cat.get_absolute_url}}"
                  class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                  <span style="color: whitesmoke;"class="nasiholog">Категории: {{cat_elem.cat}}</span>
                </a>
            </p>
        </div>
        
        {% if cat_elem.photo%}
          <p><img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{cat_elem.photo.url}}" height="350" alt="dots icon"></p>
        {% endif %}

        <div class="card-body">
          <div class="headline1">
            {% autoescape on %}
              <p class="card-text">{{cat_elem.content|linebreaks|truncatewords:30}}</p>
            {% endautoescape %}
          </div>
        </div>

        <small class="text-body-secondary">
          <p style="color: whitesmoke;" class="card-text">
            Дата публикации: {{cat_elem.time_update|date:"d-m-Y"}}
          </p>
        </small>

        <div class="btn-group" style="display: flex; flex-direction: column;">
          <button class="buttonscriptreed btn rounded-pill px-3 btn-sm" type="button">
            <a href="{{cat_elem.get_absolute_url}}"
                class="buttonscriptreed1 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                <span class="headline2">Читать</span>
              </a>
          </button>
        </div>
      </div>
    {% endfor %} 
  </div>
{% include "includes/paginator.html" %}
{% endblock %}


