{% extends 'base.html' %}

{% block content %}

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <div class="center-screen">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      {% for video in media %}
      <div class="col p-4 d-flex flex-column position-static">

        <div class="text-center">
          <h4>{{ video.title }}</h4>
          <video width="320" height="240" controls>
            <source src="{{video.video.url}}" type="video/mp4">
            Your browser does not support the video tag.
          </video> 
        </div>


      </div>
      {% endfor %}
    </div>
  </div>
  {% include "includes/paginator.html" %}
</div>

{% endblock content %}