{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="display: flex; justify-content: center; color: aliceblue;"> О ТУРНИРЕ </h1>

<div class="container">
	<p style="display: flex; justify-content: center; color: aliceblue;">(Обращение к юным шахматистам)</p>
	<p style="display: flex; justify-content: center; color: aliceblue; text-indent:5%; margin-top: 5%;">Гроссмейстером можешь ты не быть, но гражданином быть обязан – перефразируя известное выражение классика русской литературы Н.А. Некрасова, можно выразить суть турнира «Единый мир».
			Замечательно, если вы станете выдающимся шахматистом. Еще лучше, если, одновременно  с этим, вы вырастете порядочным человеком. Этим вы принесете пользу не только себе, но и миру.</p>
	<div style="display: flex; justify-content: center; margin-top: 3%;">
		<video width="420" height="276" controls>
				<source src="{% static 'video/1.mp4' %}" type="video/mp4">
				Your browser does not support the video tag.
		</video> 
	</div>
	<p style="color: aliceblue; text-indent: 5%; margin-top: 3%;">Турнир «Единый мир» объединяет прогрессивные силы стран и континентов для противодействия мышлению «эпохи колониального владычества».</p>
	<p class="homepagestext">Турнир открыт для всех, разделяющих традиционные ценности и принципы спорта и отвечает запросу мировой общественности на «спорт вне политики».</p>
	<p class="homepagestext">К  традиционным ценностям относятся жизнь, достоинство, права и свободы человека, патриотизм, гражданственность, служение Отечеству и ответственность за его судьбу, высокие нравственные идеалы, крепкая семья, созидательный труд, приоритет духовного над материальным, гуманизм, милосердие, справедливость, коллективизм, взаимопомощь и взаимоуважение, историческая память и преемственность поколений.</p>
	<p class="homepagestext">Вся система проведения турниров «Единый мир» выстроена с опорой на эти ценности.</p>
	<p class="homepagestext">Созвучный новой «цифровой эпохе» гибридный формат турнира позволяет задействовать большое количество участников из разных стран и обеспечить доступность соревнования. При этом, благодаря использованию видеоконференцсвязи, достигается максимальная честность игры и объективность результатов.</p>
</div>


{% endblock content %}