{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="col d-flex justify-content-center">
    {% for video in videos %}
    <div class="col p-4 d-flex flex-column position-static">
      <div class="text-center">
        <h4 class="headline4">{{ video.title }}</h4>
      </div>
      <video style="width: 100%; height: auto; min-height: 100%;" width="320" height="240" controls>
        <source src="{{video.video.url}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <div class="text-center">
        <div class="headline1">
          {% autoescape on %}
            <p class="card-text">{{video.description|linebreaks}}</p>
          {% endautoescape %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="container" style="margin-top: 10%; color: #000;">
    {% include "includes/paginator.html" %}
  </div>
</div>

{% endblock content %}