{% load static %}
<footer class="py-3 my-4 headline1">
  <p class="headline5 text-center text-body-secondary">ЕДИННЫЙ МИР</p> 
  <p class="headline5 text-center text-body-secondary">UNITED WORLD</p> 
  <p class="text-center text-body-secondary"><img class="rounded-circle" src="{% static 'img/logo2.png' %}" width="75" height="75" class="d-inline-block align-top" alt=""></p>
  <a href="https://wa.me/+79188210346" class="whatsapp" target="_blank"><img src="{% static 'img/whatsapp.png' %}" alt="Написать в Whatsapp"></a>


</footer>


