{% load static %}

<header>
  <nav class="navbar navbar-light" style="background-color: rgba(56, 54, 53, 0.921);">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'news:homepages' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="rounded-circle" src="{% static 'img/logo2.png' %}" width="75" height="75" class="d-inline-block align-top" alt="icon dots">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'news:homepages' %}" class="hederscript nav-link px-2">О турнире</a></li>
          <li><a href="{% url 'news:news_list' %}" class="hederscript nav-link px-2">Новости</a></li>
          <li><a href="{% url 'news:logo_list' %}" class="hederscript nav-link px-2 ">Партнеры</a></li>
          <li class="nav-item dropdown">
            <a class="hederscript nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Медиа
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'news:photo_list' %}">Фото</a></li>
              <li><a class="dropdown-item" href="{% url 'news:video_list' %}">Видео</a></li>
            </ul>
          </li>
          <li><a href="{% url 'news:squad_list' %}" class="hederscript nav-link px-2 ">Команда турнира</a></li>
        </ul>
        <div style="padding-left: 10pt;">
          <a href="https://vk.com/unitedworldchess" target="_blank" class="btn-social btn-vk"><i class="fa fa-vk"></i></a>
          <a href="https://rutube.ru/channel/42953465/" target="_blank" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a>
          <a href="https://t.me/chessinterturnir" target="_blank" class="telegram"><img src="{% static 'img/Telegram.png' %}" alt="Написать в Телеграм"><i class="telegram-icon"></i></a>
        </div>
        {% include "includes/search.html" %}
        <div class="quote">
          <p>YOU MAY NOT BE A GRANDMASTER, BUT MUST BE A CITIZEN YOU</p>
        </div>
      </div>
    </div>
  </nav>
</header>

